# ✅ Expo managed workflow uchun tozalangan konfiguratsiya
# Native papkalarni butunlay emas, faqat build va cache qismlarini ignore qilamiz

# Android build & gradle caches
android/.gradle/
android/build/
android/app/build/

# ✅ Firebase uchun MUHIM:
# google-services.json faylni EAS Build arxiviga kiritamiz
!android/app/google-services.json

# iOS build & Pods
ios/build/
ios/Pods/

# Node/Expo caches
node_modules/
.expo/
.expo-shared/
.expo-cache/
.expo/web/

# Logs
*.log

# macOS system
.DS_Store

# Yarn cache
.yarn/
.pnp.*

# Git va IDE fayllari
.git/
.github/
.vscode/

# Build artifacts
dist/
coverage/

# Env fayllar (mahfiy ma’lumotlar)
.env
.env.*
