# Lokalda tursin, EAS arxiviga kirmasin:
android/
ios/

# Og‘ir kataloglar
node_modules/
.expo/
.expo-shared/
.expo-cache/
.expo/web/

# Android keshlar
android/.gradle/
android/build/

# iOS kesh/Pods
ios/build/
ios/Pods/

# Lockfiles: Yarn ishlatyapmiz
package-lock.json
npm-shrinkwrap.json

# Binaries
*.msi
*.exe
*.bat
