node_modules/
.expo/
.expo-shared/
.expo-cache/
.expo/web/
android/.gradle/
android/build/
ios/build/
ios/Pods/

# Lockfiles: Yarn ni qoldiramiz
package-lock.json
npm-shrinkwrap.json

# Binar / installer / scriptlar
*.msi
*.exe
*.bat
*.ps1
*.apk
dist/
build/
.cache/
